{
    "apebot": {
        "token": "**********************************************"
    },

    "ftx": {
        "key": "****************************************",
        "secret": "****************************************"
    }
}

